h2, h1 {
    font-size: 24px;
    color: #292929;
    font-family: 'SanFrancisco', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

*{
    margin:0px;
    padding:0px;
}



.imagemParallax .wrapper{
    text-align:center;
}

.imagemParallax span{
    background-color:white;
    font-size:45px;
}

.divTexto{
    background-color:white;
}

.divTexto .wrapper{
    padding-top:150px;
    padding-bottom:150px;
}.wrapper{
    width:940px;
    margin:0 auto;
}
