*{
    margin:0px;
    padding:0px;
}

p{
    font-size:13px;
}

h1{
    font-size:80px;
}

.imagemParallax{
    height:300px;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    padding-top:200px;
}

.imagemParallax .wrapper{
    text-align:center;
}

.imagemParallax span{
    background-color:white;
    font-size:45px;
}

.divTexto{
    background-color:white;
}

.divTexto .wrapper{
    padding-top:150px;
    padding-bottom:150px;
}.wrapper{
    width:940px;
    margin:0 auto;
}
