*{
    margin:0px;
    padding:0px;
}
h1::first-letter, p::first-letter {
    text-transform: uppercase;
     color: black
}
p{
    font-size:30px;
}

h1{ 
font-size:40px;
text-transform: lowercase;
}

.imagemParallax{
    height:100px;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    padding-top:200px;
}

.imagemParallax .wrapper{
    text-align:center;
}

.imagemParallax span{
    background-color:white;
    font-size:45px;
}

.divTexto{
    background-color:white;
}

.divTexto .wrapper{
    padding-top:150px;
    padding-bottom:150px;
}.wrapper{
    width:940px;
    margin:0 auto;
}
